<% if @article.user %>
  <div class="row center">
    <div class="col s12 md4">
      <ul class="listing">
        <li>Created by:</li>
        <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
        <li class="article-title">
          <%= link_to @article.user.username, user_path(@article.user) %>
        </li>
        <li><small>
            <%= pluralize(@article.user.articles.count, "article") if @article.user.articles %>
          </small></li>
      </ul>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col s12 m10">
    <h2 class="alb_article_title"> <%= @article.title %> </h2>
  </div>
</div>
<div class="row">
  <div class="col s12 m10">
    <%= simple_format(@article.description, class: "alb_article_content") %>
  </div>
</div>
<% if logged_in? && current_user == @article.user%>
<div class="row">
  <div class="col s12 m10">
    <%= link_to "Edit this article", edit_article_path(@article), class: "btn wave-effect wave-light blue" %> 
    <%= link_to "Delete this article", article_path(@article), method: :delete, 
              data: { confirm: "Are you sure you want to delete the article?" },
              class: "btn wave-effect wave-light red" %>
    <%= link_to "View all articles", articles_path, class: "btn wave-effect wave-light green" %>
  </div>
</div>
<% end %>
